.form {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 25rem;
  box-shadow: darkgray 0 0 0.75rem;
  border-radius: 0.5rem;
  background-color: #fff;

  padding-bottom: 1.5rem;
}

.titulo {
  background: linear-gradient(45deg, #dd4a48, #9c0f48);
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.bloque {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;

  
}


.form-label {
  margin: 0%;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(110, 109, 109);
  font-weight: lighter;

}

.form-input {
  font-size: 1.2rem;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  outline: none;
  box-sizing: border-box;
  color: rgb(92, 90, 90);
  border: solid 0.5px rgb(187, 185, 185);
  transition: ease-in-out 200ms;
}

.form-input:focus {
  border: solid 0.075rem transparent;
  border-bottom: solid 0.075rem #4f73a5;
}

.estadio {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2rem;
}

.radio-button {
  width: 1rem;
  margin: auto;
}

.form-radio-button {
  display: flex;
  margin-right: 0.4rem;
}

.botonera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.submit,
.cancelar {
  width: 55%;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: 1rem;
  border: none;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-weight: bold;
  background-color: #519259 ;
  transition: ease-in-out 200ms;
  cursor:pointer;
}

.submit:hover {
  background-color: #91C483;
}

.cancelar {
  width: 40%;
  background-color: #CD1818;
}

.cancelar:hover {
  background-color: #d45353;
}


@media (max-width: 450px) {
    * {
      font-size: 17px;
    }
  
    .form {
      flex-direction: column;
      width: 80%;
      margin-top: 1rem; 
    }

    .form-label {
          
      font-weight: bold;

    }

    .submit,
  .cancelar {
      font-size: 0.75rem;
    }
}