

.titulo-home{
    color: white;
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    margin-top: 3rem;
    font-style: italic;

}

.screen{
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.imagen-left{
    width: 50%;
    display: flex;
    justify-content: right ;

}

.imagen{
    width:90%;
    margin: auto;
    text-align: right;
   
}




.text-form-lr{
    width: 50%;
    margin: auto;   
}




.login-register{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.form-lr{
margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 35rem;
  border-radius: 0.5rem;
  background-color: #fff;
  padding-bottom: 1.5rem;
   
}


.titulo-lr {
    background: linear-gradient(45deg, #dd4a48, #9c0f48);
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    margin: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }

  .bloque-lr {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;    
  }



  .form-label-lr {
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(110, 109, 109);
    font-weight: bold;

  }
  
  
  .form-input-lr {
    font-size: 1.2rem;
    font-weight: normal;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    color: rgb(92, 90, 90);
    border: solid 0.5px rgb(187, 185, 185);
    transition: ease-in-out 200ms;
  }
  
  .form-input-lr:focus {
    border: solid 0.075rem transparent;
    border-bottom: solid 0.075rem #4f73a5;
  }

  .botonera-lr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.5rem;
  }

.submit-lr{
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    border-radius: 1rem;
    border: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-weight: bold;
    background-color: #519259 ;
    transition: ease-in-out 200ms;
    cursor:pointer;    
}


.submit-lr:hover {
  background-color: #91C483;
}


.login-register-lr{
    width: 100%;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 1rem;

    text-decoration: none;
   

}

.login-password-lr{
    width:100%;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    align-items: center;
   color: white; 
   
    margin-right: auto;
    

}

.password-icon-lr{
    margin-bottom: -0.2rem;
    margin-top: auto;
    margin-left: 0.5rem;
    display: inline-block;
    
    font-size: 1.2rem;
    
    color: rgb(110, 109, 109);
    font-weight: lighter;
}

.to-register-login{
    margin-left: 0.5rem;
    text-decoration: none;
    color:  #9c0f48;
    font-size: 1rem;

 
}

.to-password-lr{
    color: white   
}


.show-error-lr{
    width: 60%;
    max-width: 35rem;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
   
    
    background-color: rgb(206, 129, 129);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-left: red 0.25rem solid;

   
}

.error-titulo-lr{
    font-size: 1.1rem;
    color: rgb(136, 2, 2);
    font-weight: bold;
}

.error-mensaje-lr{
    font-size: 1rem;
    color: rgb(136, 2, 2);
    margin-top: 0;
}

.show-succes-lr{
    width: 60%;
    max-width: 35rem;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25rem;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
   
    
    background-color: rgb(147, 206, 129);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-left: green 0.25rem solid;
}

.succes-titulo-lr{
    font-size: 1.1rem;
    color: rgb(36, 75, 20);
    font-weight: bold;
}

.succes-mensaje-lr{
    font-size: 1rem;
    color: rgb(36, 75, 20);;
    margin-top: 0;
}

.botonera-google-lr{

    width: 40%;
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

.google-login-lr{
   width: 100%;
   text-align: center;
    padding: 1rem;
    background-color: white;
    border-radius: 10rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
   

}

.google-login-lr:hover{
    
    transition: 500ms;
    background: linear-gradient(45deg, #dd4a48, #9c0f48);  
    color: white;
 }



@media (max-width: 450px) {
    * {
      font-size: 17px;
    }

    .titulo-home{
        font-size: 1.5rem;
    }

    .screen{
        flex-direction: column;
        width: 100%;
    
    }
  
    .show-error-lr{
        width: 80%;
    }

    .login-password-lr{
        width:80%;
    }


    .imagen-left{
        width: 100%;
        order: 2;
        margin-bottom: 4rem;
    }

    .imagen{
        width:90%;
       
    }

    .text-form-lr{
        width: 100%;
        order: 1;
        margin-bottom: 4rem;   
    }

    .form-lr{
        margin-top: 4rem;
          margin-left: auto;
          margin-right: auto;
          width: 90%;
    }

    .form-bloque-lr {
        margin-top: 1.2rem;        
      }

    .botonera-google-lr{

        width: 81%;
    }
}