.search-and-add {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

.search,
.add-button {
  box-sizing: border-box;
  padding: 0.5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
  color: #041562;
  font-style: italic;
  width: auto;
  border: solid lightgrey 0.1px;
  border-radius: 6rem;
  outline: none;
  border: none;
  text-decoration: none;
  margin-right: 1.5rem;
  transition: ease-in 400ms;
}

.search:focus {
  flex-grow: 1;
  background-color: rgb(246, 249, 250);
  border: solid #4f73a5 0.01rem;
}

.add-button {
  width: auto;
  background-color: #470d21;
  background-color: rgb(223, 221, 221);
  color: rgb(61, 59, 59);
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: 0rem;
  font-style: normal;
  font-weight: bold;
  border: none;
  transition: ease-in 300ms;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
}

.add-button:hover {
  color: rgb(223, 221, 221);
  background-color: rgb(139, 136, 136);
}


.user {
  color: white;
  flex-grow: 1;
  text-align: right;
  font-size: 1.25rem;
  font-style: italic;

}

@media (max-width: 450px) {
  * {
    font-size: 17px;
  }

  .search-and-add{
    
      display:flex;
      flex-direction: column ;
      justify-content: center;
      align-items: center;
      
      margin-right: auto;
      margin-left: auto;
      width: 90%;
  }


  .search, .add-button, .user {
    width: 100%;
    font-size: 0.9rem;
    margin-right: auto;
      margin-left: auto;
      margin-bottom: 1.5rem;
  }

.user{
  font-size: 1.25rem;
  order: 1
}

.search{
  order: 2
}

.add-button{
  order:3
}

}
