.search-and-add {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding-top: 1rem;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}

.search,
.add-button {
  box-sizing: border-box;
  padding: 3px;
  padding-left: 6px;
  font-size: 8px;
  color: #041562;
  font-style: italic;
  width: auto;
  border: solid lightgrey 0.1px;
  border-radius: 50px;
  outline: none;
  margin-right: 10px;
  transition: ease-in 400ms;
}

.search:focus {
  flex-grow: 1;
  background-color: rgb(246, 249, 250);
  border: solid #4f73a5 0.1px;
}

.add-button {
  width: auto;
  background-color: #470d21;
  background-color: rgb(223, 221, 221);
  color: rgb(61, 59, 59);
  padding-right: 6px;
  /* color: #fff;
  color:#F9E4D4; */
  margin-right: 0px;
  font-style: normal;
  font-weight: bold;
  border: none;
  transition: ease-in 300ms;
  cursor: pointer;
  text-transform: uppercase;
}

.add-button:hover {
  color: rgb(223, 221, 221);
  background-color: rgb(139, 136, 136);
}

@media (max-width: 450px) {
  * {
    font-size: 32px;
  }

  .search-and-add{
    width: 80%;
    justify-content: space-between;
  } 
  .search {
    width: 50%;
    font-size: 0.4rem;
  }

  .add-button {
    width: 50%;
    font-size: 0.4rem;
  }
}
