
.showTasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.tasks {
  margin-top: 1.1rem;
  width: 30%;
  border-radius: 0.5rem;
  background-color: #fff;
  transition-duration: 400ms;
  position: relative;
}

.tasks-number-conteiner {
  position: absolute;
  top: calc(-2.6rem / 2);
  left: calc(50% - 2.6rem / 2);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  display: flex;
  box-shadow: darkgray 0px 0px 0.4px;
  justify-content: center;
  background-color: #470d21;
}

.tasks-number {
  font-size: calc(2.6rem / 2.5);
  margin: auto;
  text-align: center;
  color: white;
  font-weight: bold;
}

.tasks:hover {
  transform: scale(1.005);
  box-shadow: darkgray 0px 0px 1rem;
}

.titleToDo,
.titleProgress,
.titleDone {
  font-size: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  margin: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #dd4a48;
}

.titleProgress {
  background: #3062a7;
  background-color: #d67d3e;
}

.titleDone {
  background-color: #9c0f48;
}

.container {
  padding: 0.5rem;
}

.task {
  border-bottom: solid 0.05rem lightblue;
  margin-bottom: 1rem;
}

.task:hover {
  border-bottom: solid 0.005rem rgba(240, 89, 207, 1);
  background: rgba(240, 89, 207, 0.25);
  transition-duration: 1000ms;
}

.taskTitle,
.taskDays,
.taskDescription,
.loading {
  margin: 0%;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(110, 109, 109);
  font-weight: bold;
}

.taskDays {
  font-size: 0.75rem;
  font-weight: bold;
  color: lightgray;
  margin-top: 0.3rem;
}

.taskDescription,
.loading {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1rem;
  margin-top: 0.30rem;
  color: darkgray;
}

.delete-change {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.delete {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0;
  border-radius: 50%;
  border: solid 0.01rem lightgrey;
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  background-color: transparent;
}

.delete:hover {
 
  background-color: lightgrey;
  transition-duration: 500ms;
}

.delete-icon {
  width: 1rem;
  height: 1rem;
  color: grey;
  margin: auto;
}

.delete-icon:hover {
  color: rgb(49, 47, 47);

  transition-duration: 500ms;
}

.change-estadio-container {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.change-estadio {
  text-decoration: none;
  font-size: 0.8rem;
  color: grey;
  background-color: rgba(240, 89, 207, 0.25);
  cursor: pointer;
  border: solid 0.01rem lightgrey;
  background-color: transparent;
}

.change-estadio:hover {
  transition-duration: 500ms;
  background: lightgrey;
  color: rgb(49, 47, 47);
}

@media (max-width: 450px) {
  * {
    font-size: 17px;
  }

  .showTasks {
    flex-direction: column;
    width: 80%;
  }

  .tasks {
    width: 100%;
    margin-top: 2rem;
  }

  .tasks:hover {
    transform: scale(1);
  }
}
